<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">
        <div class="row no-gutters">
            <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" style="background: url({{ asset(about.file) }}) center center no-repeat;"></div>
            <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch">
                <div class="content d-flex flex-column justify-content-center">
                    <h3>{{ about.title }}</h3>
                    <p>
                        {{ about.description }}
                    </p>
                    <div class="row">
                        {% for icon in about.iconSections %}
                        <div class="col-md-6 icon-box">
                            <i class="{{ icon.icon }}"></i>
                            <h4>{{ icon.title }}</h4>
                            <p>{{ icon.description }}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div><!-- End .content-->
            </div>
        </div>

    </div>
</section><!-- End About Section -->
