<section id="contact" class="contact">
    <div class="container">

        <div class="section-title">
            <h2>{{ contact.title }}</h2>
            <p>{{ contact.description }}</p>
        </div>

        <div class="row contact-info">

            <div class="col-md-4">
                <div class="contact-address">
                    <i class="bi bi-geo-alt"></i>
                    <h3>Adresse</h3>
                    <address>{{ contact.address }}</address>
                </div>
            </div>

            <div class="col-md-4">
                <div class="contact-phone">
                    <i class="bi bi-phone"></i>
                    <h3>Téléphone</h3>
                    <p><a href="tel:{{ contact.phone }}">{{ contact.phone }}</a></p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="contact-email">
                    <i class="bi bi-envelope"></i>
                    <h3>Email</h3>
                    <p><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></p>
                </div>
            </div>

        </div>

        <div class="form" >
            {{ form_start(messageForm) }}
                <div class="row">
                    <div class="col-md-6 form-group">
                        {{ form_widget(messageForm.name, {class:'form-control'}) }}
{#                        <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">#}
                    </div>
                    <div class="col-md-6 form-group mt-3 mt-md-0">
                        {{ form_widget(messageForm.email, {class:'form-control'}) }}

                    </div>
                </div>
                <div class="form-group mt-3">
                    {{ form_widget(messageForm.subject, {class:'form-control'}) }}

                </div>
                <div class="form-group mt-3">
                    {{ form_widget(messageForm.message, {class:'form-control'}) }}

                </div>
                <div class="my-3">
                    <div class="loading">Loading</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Votre message a été transmit, merci beaucoup!</div>
                </div>
                <div class="text-center">
                    {{ form_widget(messageForm.submit) }}
                </div>
            {{ form_end(messageForm) }}
        </div>

    </div>
</section>
